
#panelright
{
  height: 100%;
  width: 30%;
  right: 0px;
  top: 0px;
  position: fixed;
  z-index: 10000;
  background-color: #f8f9fa;
  border-style: solid;
  border-width: 1px;
  color: black;
}

#panelright #loading-spinner{
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}
#panelright #loading-spinner img{
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

#panelright #wikipedia-li img{
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

#topheading
{
  text-decoration: underline;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}

#panelright ul{
  margin-left: 10px;
  list-style: none;
}

#panelright .sidebar-grid-wrapper{
  display: grid;
  max-width: 95%;
  margin-left: 10%;
}

#panelright .sidebar-grid-wrapper .one-row{
  grid-template-rows: auto auto auto auto;
}

#panelright li{
  display:block;
  width: 100%;
  padding-bottom: 2px;
  overflow: auto;
}

#chrome-extension-sidebar-alternates{
  border-top: 2px solid #6e6e6e;
  position: absolute;
  display: block;
  bottom: 50px;
  width:100%;
}

#panelright table{
  width: 94%;
  float: left;
  margin-left: 6%;
  border-collapse: collapse;
  display: block;
}

#panelright table tr{
  line-height: 18px;
  border-bottom: 1px dotted black;
}

#panelright table tr:last-child{
  border-bottom: none;
}

#panelright table td{
  border-right: 1px dashed black;
  padding-left: 3px;
  padding-right: 3px;
}

#panelright table tr td:first-child{
  border-right: 1px solid black;
}

#panelright table tr td:last-child{
  border-right: none;
}
